<header class="header">
    <h1 class="header__title"><header-async></header-async></h1>
    <i class="material-icons" ng-click="vm.reload();" style="cursor:pointer;"> cached </i>
</header>
<main class="main" ng-if="!vm.loading" style="text-align:center;">

    <h4>Dashboard</h4>
    <h5>Google Chart</h5>
    <div style="display:inline-flex;">
        <div id="pieChart" style="height:300px; width:400px; margin:auto; padding-right:5px;"></div>
        <div id="doughnutChart" style="height:300px; width:400px; margin:auto; padding-left: 5px;"></div>
    </div>
</main>
<div class="loader" ng-if="vm.loading">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>
